{% extends 'base.html' %}

{% block content %}
  <div class="nav">
      <h2>– TOP-50 CLUBS BY EXPENDITURE IN 2025 –</h2>
      <table class="content-nav">
        <thead>
          <tr>
            <td>#</td>
            <td>Club</td>
            <td></td>
            <td>Total Expenditures (million €)</td>
          </tr>
        </thead>
      </table>
  </div>

  <div class="latest-transfers">
    <table class="top-players" style="margin-top: 100px">
      {% for club in clubs %}
      <tr>
        <td style="width: 150px !important;">{{ forloop.counter }}</td>
        <td>{{ club.new_club__name }}</td>
        <td style="border: none">.....</td>
        <td style="border: none">.....</td>
        <td>{{ club.total_spent|floatformat:2 }}</td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="5">No data available</td>
      </tr>
      {% endfor %}
    </table>

    <hr>
    <p>
      This list shows the top 50 clubs with the highest total expenditures in 2025 season.
    </p>
  </div>
{% endblock %}
